# Developers
.hg
.git
.svn
.idea/
.sass-cache/
*.db
*.pyc
*~

# Frontend libraries
/src/*/static/*/lib/
/src/*/static/*/css/
!/src/*/static/*/css/admin_overrides.css

# Environment
settings_local.py
/env/
/media/
/static/

