# Developers
.hg
.git
.svn
.idea/
.sass-cache/
*.db
*.pyc
*~
__pycache__

secrets.py

# Frontend libraries
/src/*/static/*/lib/
/src/*/static/*/css/
!/src/*/static/*/css/admin_overrides.css

# Environment
settings/local.py
/env/
/media/
/static/

# Log files
log/
