{% extends "base.html" %}


{% block body-class %}{{ block.super }} overview{% endblock body-class %}


{% block content %}
<article {% if self.cover %}style="background-image: url('{{ self.cover.file.url }}'); min-height: {{ self.cover.height }}px;"{% endif %}>
    <div class="gradient">
        <h1>{{ self.title }}</h1>

        {{ self.body }}
    </div>

    <aside class="page-links">
        <nav>
            <ul role="menu">
                {% for link in self.links.all %}
                    <li>
                        <a href="{{ link.target_page.url }}">{% firstof link.title link.target_page.title %}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
</article>
{% endblock content %}
